.image{
	width: 20%;
}
.table-name{
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-button{
	border: none;
	padding: 10px 10px;
	background-color: #3C91E6;
	margin-top: 20px;
	margin-left: 20px;
	color: white;
	border-radius: 10px;
}